<div id='header'>
  <div id='header-logo'>
    <h1><a href="/yh">Ferrotec Logo</a></h1>
  </div>
  <div id='groupnav'>
    <ul>
      <li><a href="/">Ferrotec(中国)</a></li>
      <li><a href="#">Ferrotec(全球)</a></li>
      <li class="last"><a href="/yh/detail?cont=013006">联系我们</a></li>
    </ul>
  </div>
  <div id='header-image'>
    <a href="/yh/detail?cont=014"><img alt="Flash" src="/images/yh/flash.jpg" /></a>
  </div>
  <div id='header-nav'>
    <ul>
      <% @menus.each do |menu| %>
        <li><%= link_to menu.categoryname, detail_yh_path(:cont=>"#{menu.categoryid}") %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id='main'>
  <div id='intro'>
    <h2>公司介绍</h2>
    <a href="/yh/detail?cont=013"><img alt="Intro" height="167" src="/images/yh/intro.jpg" width="374" /></a>
    <div class='intro_text'>
      <%= link_to @company.summary, '/yh/detail?cont=013' %>
    </div>
  </div>
  <div id='new'>
    <h2>新闻中心</h2>
    <dl>
      <% @news.each do |new| %>
        <dt><%= new.created_at.strftime("%Y-%m") %></dt>
        <dd>
        <a href="#" onclick="window.open('/yh/news?id=<%= new.id %>','','scrollbars=yes,width=600,height=360,height=360,top=200,resizable=yes')"><%= new.title %></a>
          </dd>
      <% end %>
      <dt></dt>
      <dd class='more'>
        <a href="/yh/detail?cont=017">更多&gt;&gt;</a>
      </dd>
    </dl>
  </div>
</div>
