<div id="contactdetail">
<br/>
<h2>明细留言</h2>
<br/>
<table id="table" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100px" align="right">公司:</td>
    <td width="600px" ><%=@contact.company%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">姓名:</td>
    <td><%=@contact.person%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">标题:</td>
    <td><%=@contact.person%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">E_Mail:</td>
    <td><%=@contact.email%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">联系地址:</td>
    <td ><%=@contact.addr%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">城市:</td>
    <td><%=@contact.city%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">州/省:</td>
    <td><%=@contact.area%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">邮编:</td>
    <td><%=@contact.zipcode%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">国家:</td>
    <td><%=@contact.country%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">联系电话:</td>
    <td><%=@contact.phone%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">传真:</td>
    <td><%=@contact.fax%>&nbsp;</td>
  </tr>
  
  <tr>
    <td align="right">要求数量:</td>
    <td><%=@contact.quantity%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">交货日期:</td>
    <td><%=@contact.getdate%>&nbsp;</td>
  </tr>
  
  <tr>
    <td align="right">交型号:</td>
    <td><%=@contact.tecsize%>&nbsp;</td>
  </tr>
  <tr>
    <td id="spical" align="right">留言内容:</td>
    <td id="spical"><%=@contact.description%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">创建日期:</td>
    <td><%=@contact.created_at%>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><%= link_to "删除", { # link_to options
                           :controller => 'contact', 
                           :action => 'delete_contact',
                           :id => @contact},
                         { # html options
                           :method  => :post,
                           :confirm => "确定要删除当前留言?"
                         } %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '返回', :action => 'list_contact' %></td>
  </tr>
</table>


</ul
</div>