<div id="menuall">
    <div id="leftbar">
      <a href="/companyintro/index?id=001&&company=<%=$company_id %>"><img src="/images/aqm/index_r3_c2.jpg" alt="company" border="0" height="51" width="131" /></a>
    </div>
    
    <div id="menucenter">
      <a href="/mostlyproduct/index?id=002&&company=<%=$company_id %>"><img src="/images/aqm/index_r3_c4.jpg" alt="product" border="0" height="51" width="143" /></a>
    </div>
  
    <div id="menucenter">
      <a href="/marketapply/index?id=003&&company=<%=$company_id %>"><img src="/images/aqm/index_r3_c7.jpg" alt="market" border="0" height="51" width="135" /></a>
    </div>
    
    <div id="menucenter">
      <a href="/technology/index?id=004016&&company=<%=$company_id %>"><img src="/images/aqm/index_r3_c8.jpg" alt="skill" border="0" height="51" width="123" /></a>
    </div>
     
    <div id="menucenter">
      <a href="/newscenter/index?id=005&&company=<%=$company_id %>"><img src="/images/aqm/index_r3_c11.jpg" alt="news" border="0" height="51" width="111" /></a>
    </div>
    
    <div id="rightbar">
      <a href="/serverarea/index?id=<%=@minserverarea.categoryid%>&&company=<%=$company_id %>"><img src="/images/aqm/index_r3_c12.jpg" alt="servise" border="0" height="51" width="137" /></a>
    </div>
</div>
