<div id="menuall">
    <div id="en_leftbar">
      <a href="/companyintro/index_en?id=001&&company=<%=$company_id %>"><img src="/images/aqm/sy_r3_c2.jpg" alt="company" border="0" height="52" width="151" /></a>
    </div>
    
    <div id="menucenter">
      <a href="/mostlyproduct/index_en?id=002&&company=<%=$company_id %>"><img src="/images/aqm/sy_r3_c3.jpg" alt="product" border="0" height="52" width="137" /></a>
    </div>
  
    <div id="menucenter">
      <a href="/marketapply/index_en?id=003&&company=<%=$company_id %>"><img src="/images/aqm/sy_r3_c5.jpg" alt="market" border="0" height="52" width="137" /></a>
    </div>
    
    <div id="menucenter">
      <a href="/technology/index_en?id=004017&&company=<%=$company_id %>"><img src="/images/aqm/sy_r3_c6.jpg" alt="skill" border="0" height="52" width="121" /></a>
    </div>
     
    <div id="menucenter">
      <a href="/newscenter/index_en?id=005&&company=<%=$company_id %>"><img src="/images/aqm/sy_r3_c9.jpg" alt="news" border="0" height="52" width="107" /></a>
    </div>
    
    <div id="en_rightbar">
      <a href="/serverarea/index_en?id=<%=@minserverarea.categoryid%>&&company=<%=$company_id %>"><img src="/images/aqm/sy_r3_c10.jpg" alt="servise" border="0" height="52" width="127" /></a>
    </div>
</div>
