<div id="submenuall">
    <div id="en_sub_leftbar">
      <a href="/aqm/index_en"><img src="<%=@aqmmenu1%>" alt="company" border="0" height="52" width="112" /></a>
    </div>

    <div id="menucenter">
      <a href="/companyintro/index_en?id=001&&company=<%=$company_id %>"><img src="<%=@aqmmenu2%>" alt="company" border="0" height="52" width="118" /></a>
    </div>

    <div id="menucenter">
      <a href="/mostlyproduct/index_en?id=002&&company=<%=$company_id %>"><img src="<%=@aqmmenu3%>" alt="product" border="0" height="52" width="107" /></a>
    </div>
    
    <div id="menucenter">
      <a href="/marketapply/index_en?id=003&&company=<%=$company_id %>"><img src="<%=@aqmmenu4%>" alt="market" border="0" height="52" width="104" /></a>
    </div>
    
    <div id="menucenter">
      <a href="/technology/index_en?id=004017&&company=<%=$company_id %>"><img src="<%=@aqmmenu5%>" alt="skill" border="0" height="52" width="121" /></a>
    </div>
    
    <div id="menucenter">
      <a href="/newscenter/index_en?id=005&&company=<%=$company_id %>"><img src="<%=@aqmmenu6%>" alt="news" border="0" height="52" width="100" /></a>
    </div>
    
    <div id="en_sub_rightbar">
      <a href="/serverarea/index_en?id=<%=@minserverarea.categoryid%>&&company=<%=$company_id %>"><img src="<%=@aqmmenu7%>" alt="servise" border="0" height="52" width="118" /></a>
    </div>
</div>
