<title>杭州先进石英有限公司</title>
<%= stylesheet_link_tag 'aqm' %>

<center>
<%= render :partial => "aqm_title" %>        
<div class="clear"></div>      
<%= render :partial => "aqm_flash" %>
<div class="clear"></div>
<%= render :partial => "aqm_menu" %>
<div class="clear"></div>
<%= render :partial => "aqm_middle" %>
<div class="clear"></div>
<%= render :partial => "aqm_footer" %>
<script language="javaScript" src="http://zjnet.zjaic.gov.cn/hazqybswj/3301000000106894.js"></script>
</center>