<div id="firstmiddle">
  <div id="company">
    <span id="blueHead">关于我们</span><br />
    <% for companyinfo in @company %>
    <pre>
      <!--<%=truncate(companyinfo.summary,180)%>-->
    杭州大和热磁电子有限公司成立于1992年1月31日，是由日本磁性流体技术株式会社（Ferrotec Corporation）在华投资的全资子公司。

    经过十多年的发展，公司在杭州高新技术产业开发（滨江）区以及杭州半山设有多家工厂。以<a href="http://www.ferrotec.com.cn/dahe" ><h2 id="fh2">热电半导体致冷</h2></a>、<a href="http://www.ferrotec.com.cn/dahe" ><h2 id="fh2">致冷器</h2></a>、<a href="http://www.ferrotec.com.cn/dahe" ><h1 id="fh1">半导体制冷</h1></a>、磁性流体、精密石英、陶瓷部品、精密真空部件...
    </pre>
 
    <p id="more"><a href="/companyintro/index?id=001&&company=<%=@menutype%>">More&nbsp;&raquo;</a></p>
    <p id="dahe">
      <% if companyinfo.summarypic != "" and companyinfo.summarypic != nil %>
      <% @company = companyinfo %>
      <%=image_tag url_for_file_column(:company,:summarypic),:height => '117',:width => '304' %>
      <% end %>
      <br />    
    </p> 
    <% end %>
  </div>
  
  <div id="productinfo">
    <span id="blueHead">主要产品</span><br />
    <p id="warning">
      <% for menu2 in @menu2 %>
        <a href="/mostlyproduct/index?id=<%=menu2.categoryid%>">
        <span id="abc">&raquo;</span>&nbsp;<%=h(menu2.categoryname) %>&nbsp;</a><br />
      <% end %>
    </p>
    <br/>
    <p>
      <% if @menutype.to_i ==2  %>
      <a href="/mostlyproduct/index?id=002005"><img src="/images/product.jpg" alt="product" border="0" height="65" width="166" /></a>
      <% else %>
      <a href="/mostlyproduct/index?id=002012"><img src="/images/shimg.jpg" alt="product" border="0" height="65" width="166" /></a>
      <% end %>
    </p>
  </div>

  <div id="allright">
  <div id="news">
    <p id ="topimg">
      <span id="blueHead">&nbsp;&nbsp;&nbsp;&nbsp;最新消息</span>     
      <% if @menutype.to_i ==2  %>
      <span id="news1"><a href="/newscenter/index?id=005&&company=2">More&nbsp;&raquo;&nbsp;&nbsp;</a></span>
      <% else %>
      <span id="news1"><a href="/newscenter/index?id=005&&company=3">More&nbsp;&raquo;&nbsp;&nbsp;</a></span>
      <% end %>
    </p>
     <% for new in @news %>
    <div id="middleimg">
      <a onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#3B6F9F'" style="cursor:pointer;color:#3B6F9F" onClick='window.open("/content/newsdetail?id=<%=new.id%>","","scrollbars=yes,width=600,height=360,top=200,resizable=yes")'>
        <!--<p><%=new.created_at.strftime("%Y年%m月%d日")%><p>-->
        <!--<p id="detail"><%=new.title%><p>-->
        <%=new.title%>
      </a>
    </div>
    <% end %>


    <div class="clear"></div>
    <div><p id="bottomimg">&nbsp;</p></div>
  </div>

  <div id="news">
    <p id ="topimg">
      <span id="blueHead">&nbsp;&nbsp;&nbsp;&nbsp;技术中心</span>
      <% if @menutype.to_i ==2  %>
      <span id="news1"><a href="/newscenter/index?id=005008&&company=2">More&nbsp;&raquo;&nbsp;&nbsp;</a></span>
      <% else %>
      <span id="news1"><a href="/newscenter/index?id=005008&&company=3">More&nbsp;&raquo;&nbsp;&nbsp;</a></span>
      <% end %>
    </p>
     <% for technology in @technologys %>
    <div id="middleimg">
      <a onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#3B6F9F'" style="cursor:pointer;color:#3B6F9F" onClick='window.open("/content/newsdetail?id=<%=technology.id%>","","scrollbars=yes,width=600,height=360,top=200,resizable=yes")'>
        <!--<p><%=technology.created_at.strftime("%Y年%m月%d日")%><p>-->
        <!--<p id="detail"><%=new.title%><p>-->
        <%=technology.title%>
      </a>
    </div>
    <% end %>


    <div class="clear"></div>
    <div><p id="bottomimg">&nbsp;</p></div>
  </div>
  </div>
  
</div>
