<div id="menuall">
  <div id="leftbar"><img src="/images/wagen/menu0.jpg" alt="product" border="0" height="48" width="19" /></div>

  <div id="menucenter">
    <a href="/wagen/index_en"><img src="<%=@wagenmenu1%>" alt="product" border="0" height="48" width="96" /></a>
  </div>

  <div id="menucenter">
    <a href="/companyintro/index_en?id=001&&company=<%=$company_id %>"><img src="<%=@wagenmenu2%>" alt="product" border="0" height="48" width="116" /></a>
  </div>

  <div id="menucenter">
    <a href="/mostlyproduct/index_en?id=002&&company=<%=$company_id %>"><img src="<%=@wagenmenu3%>" alt="product" border="0" height="48" width="106" /></a>
  </div>

  <div id="menucenter">
    <a href="/marketapply/index_en?id=003&&company=<%=$company_id %>"><img src="<%=@wagenmenu4%>" alt="product" border="0" height="48" width="101" /></a>
  </div>

  <div id="menucenter">
    <a href="/technology/index_en?id=004007&&company=<%=$company_id %>"><img src="<%=@wagenmenu5%>" alt="product" border="0" height="48" width="117" /></a>
  </div>

  <div id="menucenter">
    <a href="/newscenter/index_en?id=005&&company=<%=$company_id %>"><img src="<%=@wagenmenu6%>" alt="news" border="0" height="48" width="99" /></a>
  </div>

  <div id="menucenter">
    <a href="/serverarea/index_en?id=<%=@minserverarea.categoryid%>&&company=<%=$company_id %>"><img src="<%=@wagenmenu7%>" alt="product" border="0" height="48" width="110" /></a>
  </div>
  
  <div id="rightbar"><img src="/images/wagen/menu0.jpg" alt="product" border="0" height="48" width="17" /></div>
</div>
