<div id="menuall">
  <div id="leftbar"><img src="/images/wagen/001_r4_c11.jpg" alt="product" border="0" height="48" width="16" /></div>
 
  <div id="menucenter">
    <a href="/companyintro/index?id=001&&company=<%=$company_id %>"><img src="/images/wagen/bar_r2_c2.jpg" alt="product" border="0" height="48" width="111" /></a>
  </div> 

  <div id="menucenter">
    <a href="/mostlyproduct/index?id=002&&company=<%=$company_id %>"><img src="/images/wagen/bar_r2_c3.jpg" alt="product" border="0" height="48" width="143" /></a>
  </div>

  <div id="menucenter">
  <a href="/marketapply/index?id=003&&company=<%=$company_id %>"><img src="/images/wagen/bar_r2_c4.jpg" alt="product" border="0" height="48" width="141" /></a>
  </div> 

  <div id="menucenter">
  <a href="/technology/index?id=004015&&company=<%=$company_id %>"><img src="/images/wagen/bar_r2_c5.jpg" alt="product" border="0" height="48" width="122" /></a>
  </div> 

  <div id="menucenter">
  <a href="/newscenter/index?id=005&&company=<%=$company_id %>"><img src="/images/wagen/bar_r2_c6.jpg" alt="news" border="0" height="48" width="112" /></a>
  </div> 

  <div id="menucenter">
  <a href="/serverarea/index?id=<%=@minserverarea.categoryid%>&&company=<%=$company_id %>"><img src="/images/wagen/bar_r2_c7.jpg" alt="product" border="0" height="48" width="119" /></a>
  </div>

  <div id="rightbar"><img src="/images/wagen/001_r4_c11.jpg" alt="product" border="0" height="48" width="16" /></div>
</div>
