<div id="menuall">
  <div id="leftbar"><img src="/images/wagen/menu0.jpg" alt="product" border="0" height="48" width="19" /></div>

  <div id="menucenter">
    <a href="/wagen/index"><img src="<%=@wagenmenu1%>" alt="product" border="0" height="48" width="105" /></a>
  </div>

  <div id="menucenter">
    <a href="/companyintro/index?id=001&&company=<%=$company_id %>"><img src="<%=@wagenmenu2%>" alt="product" border="0" height="48" width="111" /></a>
  </div>

  <div id="menucenter">
    <a href="/mostlyproduct/index?id=002&&company=<%=$company_id %>"><img src="<%=@wagenmenu3%>" alt="product" border="0" height="48" width="103" /></a>
  </div>

  <div id="menucenter">
    <a href="/marketapply/index?id=003&&company=<%=$company_id %>"><img src="<%=@wagenmenu4%>" alt="product" border="0" height="48" width="105" /></a>
  </div>

  <div id="menucenter">
    <a href="/technology/index?id=004015&&company=<%=$company_id %>"><img src="<%=@wagenmenu5%>" alt="product" border="0" height="48" width="103" /></a>
  </div>

  <div id="menucenter">
    <a href="/newscenter/index?id=005&&company=<%=$company_id %>"><img src="<%=@wagenmenu6%>" alt="news" border="0" height="48" width="102" /></a>
  </div>

  <div id="menucenter">
    <a href="/serverarea/index?id=<%=@minserverarea.categoryid%>&&company=<%=$company_id %>"><img src="<%=@wagenmenu7%>" alt="product" border="0" height="48" width="115" /></a>
  </div>
  
  <div id="rightbar"><img src="/images/wagen/menu0.jpg" alt="product" border="0" height="48" width="17" /></div>
</div>
