<div id="menuall">
  <div id="leftbar"><img src="/images/wagen/001_r4_c11.jpg" alt="product" border="0" height="48" width="16" /></div>
 
  <div id="menucenter">
    <a href="/companyintro/index_en?id=001&&company=<%=$company_id %>"><img src="/images/wagen/hy_r2_c3.jpg" alt="product" border="0" height="48" width="124" /></a>
  </div> 

  <div id="menucenter">
    <a href="/mostlyproduct/index_en?id=002&&company=<%=$company_id %>"><img src="/images/wagen/hy_r2_c4.jpg" alt="product" border="0" height="48" width="144" /></a>
  </div>

  <div id="menucenter">
  <a href="/marketapply/index_en?id=003&&company=<%=$company_id %>"><img src="/images/wagen/hy_r2_c5.jpg" alt="product" border="0" height="48" width="134" /></a>
  </div> 

  <div id="menucenter">
  <a href="/technology/index_en?id=004007&&company=<%=$company_id %>"><img src="/images/wagen/hy_r2_c9.jpg" alt="product" border="0" height="48" width="131" /></a>
  </div> 

  <div id="menucenter">
  <a href="/newscenter/index_en?id=005&&company=<%=$company_id %>"><img src="/images/wagen/hy_r2_c10.jpg" alt="news" border="0" height="48" width="100" /></a>
  </div> 

  <div id="menucenter">
  <a href="/serverarea/index_en?id=<%=@minserverarea.categoryid%>&&company=<%=$company_id %>"><img src="/images/wagen/hy_r2_c12.jpg" alt="product" border="0" height="48" width="115" /></a>
  </div>

  <div id="rightbar"><img src="/images/wagen/001_r4_c11.jpg" alt="product" border="0" height="48" width="16" /></div>
</div>
