
<%= error_messages_for 'setparam' %>

<br/>
<!--[form:product]-->
<p><label for="setparam_modelnumber" >ModelNumber</label><br />
<%= text_field 'setparam', 'modelnumber', :id => 'text' %></p>
<br/>
<p><label for="setparam_partnumber">PartNumber</label><br />
<%= text_field 'setparam', 'partnumber', :id => 'text' %></p>
<br/>
<p><label for="setparam_shafttype">ShaftType</label><br />
<%= text_field 'setparam', 'shafttype', :id => 'text'  %></p>
<br/>
<p><label for="setparam_shaftdimension">ShaftDimension</label><br />
<%= text_field 'setparam', 'shaftdimension', :id => 'text'  %></p>
<br/>
<p><label for="setparam_shaftdimensioncondition">Unit</label><br />
<%= text_field 'setparam', 'shaftdimensioncondition', :id => 'text'  %></p>
<br/>
<p><label for="setparam_mountingtype">MountingType</label><br />
<%= text_field 'setparam', 'mountingtype', :id => 'text'  %></p>
<br/>
<p><label for="setparam_fluid">Fluid</label><br />
<%= text_field 'setparam', 'fluid', :id => 'text'  %></p>
<br/>
